*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav
{
    height: 7vh;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 110;
    background: rgb(7, 133, 218);
    color: black;
}
body{
    -ms-overflow-style: none;
    scrollbar-width: none ;
    overflow-y: scroll ;
}
body::-webkit-scrollbar
{
    display: none;
}
.slider{
    -ms-overflow-style: none;
    scrollbar-width: none ;
    overflow-y: scroll ;
}
.slider::-webkit-scrollbar
{
    display: none;
}
.logo
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h4
{
    cursor: pointer;
}
.logo img
{
    margin-right: 10px;
}
.nav-links
{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    margin: 3px ;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.burgirr
{
    display: none;
    cursor: pointer ;
}
.line1
{
    background: rgb(0, 0, 0);
    width: 10px;
    height: 3px ;
    margin: 5px;
    margin-left: 25px ;
    transition: 0.25s;
}
.line2
{
    background: rgb(0, 0, 0);
    width: 30px;
    height: 3px ;
    margin: 5px;
    transition: 0.25s;
}
.line3
{
    background: rgb(0, 0, 0);
    width: 20px;
    height: 3px ;
    margin: 5px;
    margin-left: 15px ;
    transition: 0.25s;
}




@media (min-width:781px) 
{
    .burgir
    {
        display:none;
    }
}


@media only screen and (min-width:0px) and (max-width:640px) /* estilos para mobil */
{
    body
    {
        overflow-x: hidden ;
    } 
    .nav-links
    {
        position: absolute;
        top: 7vh;
        right: 0px;
        height: 93vh;
        background: rgb(7, 133, 218);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.25s ease-out;
        visibility: 10s hidden;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .burgirr
    {
        display: block;
    }
}
.nav-open
{
    transform: translateX(0%);
    transition: transform 0.25s ease-in;
    visibility: visible;
}


@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
        
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
        
    }
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-3px,-1.20px);
}
.toggle .line2
{
    transform: rotate(45deg) translate(0px,0px);
}
.toggle .line3
{
    transform: rotate(-45deg) translate(-3px,-9px);
}