*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
    /*scroll-snap-type: y mandatory;*/
    overflow-y: scroll;
    height: 100vh;
    font-family:'Montserrat', sans-serif;
}
.slider
{
    
}
.nav-bar
{
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100vw;
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    backdrop-filter: blur(5PX);
    -webkit-backdrop-filter: blur(5px);
}
.logo
{
    display: flex;
    align-items: center;
}
.logo img
{
    filter:brightness(0%) invert(100%);
    height: 40px;
    margin: 0px 10px 0px 20px;
}
ul
{
    list-style: none;
    display: flex;
}
li
{
    margin: 5px;
}
.b
{
    height: 6vh;
    width: 6vh;
    background: rgba(255, 255, 255, 0.151);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(2px);
    border-radius: 0px 0px 0px 10px;
}
.burgir
{
    
}
.line
{
    background: rgb(255, 255, 255);
    width: 20px;
    height: 3px;
    margin: 4px;
}
.social
{
    top: 20vh;
    position: fixed;
    display:grid;
    z-index: 99;
}
.social img
{
    margin: 5px;
    filter: invert(100%);
    height: 20px;
}
section
{
    margin: 5vh;
}
.menu
{
    background: fixed ;
    background-position: center;
    background-size:auto 100%;

    background-image: url(imagenes/nor.jpeg);
    background-repeat: no-repeat;
    
    color: white;
    align-items:center;
    display: grid;
    justify-content:center;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.menu-title 
{
    display: grid;
    justify-content: center;
    text-align: center;
}
.menu-title h4{
    font-size: 3vw;
    letter-spacing: 4px;
    font-weight: 300;
}
.menu-title h1
{
    font-size: 18vw;
    letter-spacing: 2px;
    font-weight: bold;
    font-weight: bolder;
}

.panels-section
{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat( auto-fit , 200px );
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    text-align: center;
}
.panels
{
    width: 190px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.144);
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter:blur(10px); 
    -webkit-backdrop-filter: blur(3px);
    height: 60px;
    border-radius: 10px;
    color: white;
}
.panels img
{
    filter: invert(100%);
    height: 20px;
    filter: opacity(50%);
}
.text 
{
    margin-left: 7px;
    text-align: start;
}
.text h6
{
    font-weight: 300;
}
/*--Fin css section menu--*/
/*--Inicio css section activities--*/
.title-activities
{
    margin-top: 8vh;
    text-align: center;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.title-activities p
{
    letter-spacing: 5px;
    font-size: 10px;
}
.wraper-grid
{
    display: grid;
    grid-template-columns: repeat( auto-fit , 315px ); 
    grid-template-rows: repeat( auto-fit , 550px);
    justify-content: center;
    align-items:center;    
}
.container
{
    box-shadow: 0px 2px 8px 0px rgb(90, 90, 90); 
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    
    margin: 0.5rem;
    height: 450px;
    width: 300px ;

    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: 0.5s;
    
}
.panel-text 
{
    position: absolute;
    display: grid;
    align-items:flex-end;
    justify-content: start;
    text-align: start;

    height: 450px;
    width: 300px;
}
.panel-text div
{
    margin: 10px;
}
.panel-text h1
{
    width: 100%;
}
.c0
{
    background-image: url(imagenes/hike.jpeg);
    background-size: 170%;
}
.c1
{
    background-image: url(imagenes/n2.jpeg);
    background-size: 250%;
}
.c2
{
    background-image: url(imagenes/n3.webp);
    background-size: 250%;
    background-position:20%;
}
.c3
{
    background-image: url(imagenes/n4.jpeg);
    background-size: 250%;
    
}
.c4
{
    background-image: url(imagenes/kayaking.jpeg);
    background-size: 220%;
    
}
.c5
{
    background-image: url(imagenes/skiing.jpeg);
    background-size: 290%;
}
/*-- Fin css acticities--*/

/*-- Inicio css philisophy --*/

.philosophy
{
    display: grid;
    grid-template-columns: repeat( auto-fit , 350px ); 
    grid-template-rows: repeat( auto-fit , 320px);
    justify-content: center;
    align-items:center;    
}
.philobject
{
    border-radius: 3px;
    overflow: hidden;
    
    height: 300px;
    width: 350px ;

    cursor: pointer;
    transition: 0.5s;
}
.philotext
{
    display: grid;
    grid-template-columns: repeat( auto-fit , 210px ); 
    justify-content: center;
    align-items:center;  
    text-align: center;
    list-style:decimal-leading-zero;
}
.philotext h1
{
    font-size: 100%;
}
.philotext p
{
    font-size: 60%;
}
/*-- Fin section philosopy --*/

/*-- Inicio Section Departments --*/
.grid-departments
{
    display: grid;
    grid-template-columns: repeat( auto-fit , 300px ); 
    justify-content: center;
    align-items:center;   
}
.departments-cards
{
    margin: 10px;
    font-size: 10px;
}
.dep-img
{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d1
{
    background-image: url(imagenes/depa.jpeg) ;
}
.d2
{
    background-image: url(imagenes/depart.jpeg) ;
}
.d3
{
    background-image: url(imagenes//norway.jpg) ;
    
}
.card-text-hover
{
    padding: 20px;
    opacity: 0%;
    transition: 0.5s;
    backdrop-filter: blur(10px) brightness(50%);
    -webkit-backdrop-filter: blur(10px) brightness(50%);
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.card-text-hover:hover
{
    opacity: 100%;
}
